<% if current_user %>
  <turbo-frame id="comment-likes">
<% end %>
  <div class="comment-likes-container">
    <% if !current_user || !comment.liked_by_user(current_user) %>
      <%= button_to "like", comment_like_path(comment), class: "comment-like-button" %>
    <% else %>
      <%= button_to "like", comment_unlike_path(comment), class: "comment-liked-button", method: :delete %>
    <% end %>

    <% if comment.likes.count > 0 %>
      <span><%= comment.likes.count %></span>
    <% end %>
  </div>
<% if current_user %>
  </turbo-frame>
<% end %>
