<%= turbo_frame_tag "comment-likes" do %>
  <div class="comment-likes-container">
    <% if current_user %>
      <% if comment.likes.where(user_id: current_user.id).count == 0 %>
        <%= button_to "like", comment_like_path(comment), class: "comment-like-button" %>
      <% else %>
        <%= button_to "like", comment_unlike_path(comment), class: "comment-liked-button", method: :delete %>
      <% end %>
    <% end %>

    <% if comment.likes.count > 0 %>
      <% if !current_user %>
        like
      <% end %>
      <span><%= comment.likes.count %></span>
    <% end %>
  </div>
<% end %>
