<% post.comments.each do |comment| %>
  <div class="comment">
    <div>
      <span class="comment-author"><%= comment.user.username %></span>
      <span><%= comment.body %></span>
    </div>
    <div>
      <%= render partial: "comments/like", locals: { comment: comment } %>
    </div>
  </div>
<% end %>
